llama-index
llama-index-agent-openai
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-readers-file
llama-index-readers-json
openai
pdfplumber
streamlit
llama-index-program-openai
llama-index-response-synthesizers-google
python-dotenv
llama-parse
pytest
pytest-asyncio
pyvis
python-slugify
nltk